node-red-custom-ui/node-red-flows.json
[{"id":"9a75c244.d78e8","type":"tab","label":"Run","disabled":false,"info":""},{"id":"39e3a768.a56978","type":"tab","label":"UI","disabled":false,"info":""},{"id":"27249d0a.3e2f32","type":"tab","label":"Camera","disabled":false,"info":""},{"id":"6d2ea8e8.660d18","type":"tab","label":"Test","disabled":false,"info":""},{"id":"392726c9.848eaa","type":"tab","label":"Raspberry Pi Monitor","disabled":false,"info":""},{"id":"a4f28dde.4c47c","type":"mqtt-broker","z":"","name":"local-server","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2a48efc7.ff138","type":"ui_tab","z":"","name":"Rover","icon":"dashboard","disabled":false,"hidden":false},{"id":"f4f258f4.9c0918","type":"ui_group","z":"","name":"Motor A","tab":"2a48efc7.ff138","order":7,"disp":true,"width":"6","collapse":false},{"id":"c4cbd435.1d4ce8","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#383838","baseFont":"Verdana,Verdana,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"ExtraDark","default":"#4B7930","baseColor":"#000000","baseFont":"Lucida Sans Unicode,Lucida Grande,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#000000","edited":true},"page-titlebar-backgroundColor":{"value":"#000000","edited":true},"page-backgroundColor":{"value":"#000000","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":true},"group-textColor":{"value":"#1f77b4","edited":true},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#000000","edited":true},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#474aff","edited":true},"widget-borderColor":{"value":"#000000","edited":true},"base-font":{"value":"Lucida Sans Unicode,Lucida Grande,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5b9f24d7.f1c14c","type":"ui_group","z":"","name":"Motor B","tab":"2a48efc7.ff138","order":8,"disp":true,"width":"6","collapse":false},{"id":"b1ae305e.436fd","type":"ui_group","z":"","name":"Memory","tab":"2a48efc7.ff138","order":3,"disp":true,"width":"6","collapse":false},{"id":"60a8b715.d30498","type":"ui_group","z":"","name":"Power (mW)","tab":"2a48efc7.ff138","order":9,"disp":true,"width":"6","collapse":false},{"id":"ee2fd47e.644778","type":"ui_group","z":"","name":"Voltage (V)","tab":"2a48efc7.ff138","order":10,"disp":true,"width":"6","collapse":false},{"id":"2c963744.f59068","type":"ui_group","z":"","name":"Current (mA)","tab":"2a48efc7.ff138","order":11,"disp":true,"width":"6","collapse":false},{"id":"67c14c09.fd3aa4","type":"ui_group","z":"","name":"Camera","tab":"2a48efc7.ff138","order":6,"disp":true,"width":"12","collapse":false},{"id":"22af0815.f41f08","type":"ui_group","z":"","name":"Secure","tab":"","order":1,"disp":true,"width":"6"},{"id":"90d7f5ab.e24e18","type":"ui_group","z":"","name":"pin","tab":"","order":2,"disp":false,"width":"1"},{"id":"974c0586.055958","type":"ui_group","z":"","name":"Devices","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"8298848e.c98748","type":"ui_group","z":"","name":"Devices","tab":"","order":2,"disp":false,"width":"6"},{"id":"cb830f30.7165a","type":"ui_group","z":"","name":"Main Power (mw)","tab":"2a48efc7.ff138","order":4,"disp":true,"width":"6","collapse":false},{"id":"fddea882.3e20c8","type":"ui_group","z":"","name":"Main Current (mA)","tab":"2a48efc7.ff138","order":5,"disp":true,"width":"6","collapse":false},{"id":"7f62ee8.eb1a91","type":"ui_group","z":"","name":"Col1","tab":"","order":1,"disp":false,"width":"6"},{"id":"f2c11198.2d4ca","type":"ui_group","z":"","name":"Actions","tab":"","order":4,"disp":true,"width":"6"},{"id":"467cdf67.50b89","type":"ui_group","z":"","name":"Col2","tab":"","order":2,"disp":false,"width":"6"},{"id":"16483f46.d50fa1","type":"ui_group","z":"","name":"Col3","tab":"","order":3,"disp":false,"width":"6"},{"id":"5f9ceb46.c05ef4","type":"ui_group","z":"","name":"CPU Load (%)","tab":"2a48efc7.ff138","order":1,"disp":true,"width":"6","collapse":false},{"id":"9b5dc65b.602c28","type":"ui_group","z":"","name":"CPU Temp","tab":"2a48efc7.ff138","order":2,"disp":true,"width":"6","collapse":false},{"id":"c2942f27.7c994","type":"ui_spacer","name":"spacer","group":"f4f258f4.9c0918","order":2,"width":1,"height":1},{"id":"794cc796.ef7998","type":"debug","z":"9a75c244.d78e8","name":"Errors: Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":260,"wires":[]},{"id":"2685559f.15a18a","type":"exec","z":"9a75c244.d78e8","command":"/usr/bin/python3 /home/pi/projects/Rover/display_service.py","addpay":false,"append":"","useSpawn":"true","timer":"0","oldrc":false,"name":"display_service.py","x":390,"y":60,"wires":[["80dcf072.ed5bf"],["794cc796.ef7998"],[]]},{"id":"71899e5d.0ebdd","type":"inject","z":"9a75c244.d78e8","name":"Automatic Start","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":140,"y":60,"wires":[["2685559f.15a18a"]]},{"id":"efe8f571.d84158","type":"exec","z":"9a75c244.d78e8","command":"/usr/bin/python3 /home/pi/projects/Rover/motors_service.py","addpay":false,"append":"","useSpawn":"true","timer":"0","oldrc":false,"name":"motors_service.py","x":390,"y":140,"wires":[["80dcf072.ed5bf"],["794cc796.ef7998"],[]]},{"id":"56034591.6ec01c","type":"inject","z":"9a75c244.d78e8","name":"Automatic Start","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":140,"y":140,"wires":[["efe8f571.d84158"]]},{"id":"80dcf072.ed5bf","type":"debug","z":"9a75c244.d78e8","name":"Output: Console","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":160,"wires":[]},{"id":"cbea163a.9fa708","type":"exec","z":"9a75c244.d78e8","command":"sudo /usr/bin/python3 /home/pi/projects/Rover/xbox_service.py","addpay":false,"append":"-u","useSpawn":"true","timer":"0","oldrc":false,"name":"xbox_service.py","x":380,"y":300,"wires":[["80dcf072.ed5bf"],["794cc796.ef7998"],[]]},{"id":"99822da5.d05a5","type":"inject","z":"9a75c244.d78e8","name":"Automatic Start","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":140,"y":280,"wires":[["cbea163a.9fa708"]]},{"id":"a0c52b1.be741d8","type":"exec","z":"9a75c244.d78e8","command":"/usr/bin/python3 /home/pi/projects/Rover/power_service.py","addpay":false,"append":"","useSpawn":"true","timer":"0","oldrc":false,"name":"power_service.py","x":390,"y":220,"wires":[["80dcf072.ed5bf"],["794cc796.ef7998"],[]]},{"id":"eb1026f1.511018","type":"inject","z":"9a75c244.d78e8","name":"Automatic Trigger","props":[],"repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"","x":150,"y":220,"wires":[["a0c52b1.be741d8"]]},{"id":"5c9fed7b.ab3324","type":"ui_gauge","z":"39e3a768.a56978","name":"","group":"f4f258f4.9c0918","order":0,"width":0,"height":0,"gtype":"gage","title":"Channel 0","label":"units","format":"{{value}}","min":0,"max":"65000","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":550,"y":60,"wires":[]},{"id":"c04942ef.cd5c2","type":"mqtt in","z":"39e3a768.a56978","name":"","topic":"rover/motors/0/duty_cycle","qos":"2","datatype":"auto","broker":"a4f28dde.4c47c","x":150,"y":60,"wires":[["5c9fed7b.ab3324"]]},{"id":"35740154.104d2e","type":"ui_gauge","z":"39e3a768.a56978","name":"","group":"f4f258f4.9c0918","order":0,"width":0,"height":0,"gtype":"gage","title":"Channel 1","label":"units","format":"{{value}}","min":0,"max":"65000","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":550,"y":120,"wires":[]},{"id":"824980ef.672a","type":"mqtt in","z":"39e3a768.a56978","name":"","topic":"rover/motors/1/duty_cycle","qos":"2","datatype":"auto","broker":"a4f28dde.4c47c","x":150,"y":120,"wires":[["35740154.104d2e"]]},{"id":"6ce633b8.4aed2c","type":"ui_gauge","z":"39e3a768.a56978","name":"","group":"5b9f24d7.f1c14c","order":1,"width":0,"height":0,"gtype":"gage","title":"Channel 2","label":"units","format":"{{value}}","min":0,"max":"65000","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":550,"y":180,"wires":[]},{"id":"55709778.693628","type":"mqtt in","z":"39e3a768.a56978","name":"","topic":"rover/motors/2/duty_cycle","qos":"2","datatype":"auto","broker":"a4f28dde.4c47c","x":150,"y":180,"wires":[["6ce633b8.4aed2c"]]},{"id":"ebedd7a5.0af198","type":"ui_gauge","z":"39e3a768.a56978","name":"","group":"5b9f24d7.f1c14c","order":2,"width":0,"height":0,"gtype":"gage","title":"Channel 3","label":"units","format":"{{value}}","min":0,"max":"65000","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":550,"y":240,"wires":[]},{"id":"9cb5f044.b529d","type":"mqtt in","z":"39e3a768.a56978","name":"","topic":"rover/motors/3/duty_cycle","qos":"2","datatype":"auto","broker":"a4f28dde.4c47c","x":150,"y":240,"wires":[["ebedd7a5.0af198"]]},{"id":"1a9f78dc.7429e7","type":"mqtt in","z":"39e3a768.a56978","name":"","topic":"rover/power/logic","qos":"2","datatype":"json","broker":"a4f28dde.4c47c","x":120,"y":540,"wires":[["e78e8cc3.61","b638f52.6f04608"]]},{"id":"e78e8cc3.61","type":"function","z":"39e3a768.a56978","name":"V / I / P","func":"var msg_i = { payload: msg.payload.i };\nvar msg_v = { payload: msg.payload.v };\nvar msg_p = { payload: msg.payload.p };\n\nreturn [msg_v, msg_i, msg_p];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":320,"y":440,"wires":[["36ea90ee.daf1f","71dbebc3.49e7b4"],["a66cd2b7.54436","6ac0c05c.78712"],["455e04bd.44e75c","f2a1e7ba.8bc718"]]},{"id":"a66cd2b7.54436","type":"ui_level","z":"39e3a768.a56978","group":"2c963744.f59068","order":1,"width":0,"height":0,"name":"Current","label":"Current","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"3000","segWarn":"","segHigh":"","unit":"mA","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":3000,"x":540,"y":420,"wires":[]},{"id":"36ea90ee.daf1f","type":"ui_level","z":"39e3a768.a56978","group":"ee2fd47e.644778","order":1,"width":0,"height":0,"name":"Voltage","label":"Voltage","colorHi":"#00b33c","colorWarn":"#ff9900","colorNormal":"#e60000","colorOff":"#595959","min":0,"max":"6","segWarn":"3","segHigh":"4.5","unit":"V","layout":"sh","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":2,"colorschema":"rainbow","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":3000,"x":540,"y":320,"wires":[]},{"id":"71dbebc3.49e7b4","type":"ui_chart","z":"39e3a768.a56978","name":"Voltage","group":"ee2fd47e.644778","order":6,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":540,"y":360,"wires":[[]]},{"id":"6ac0c05c.78712","type":"ui_chart","z":"39e3a768.a56978","name":"Current","group":"2c963744.f59068","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":540,"y":460,"wires":[[]]},{"id":"455e04bd.44e75c","type":"ui_level","z":"39e3a768.a56978","group":"60a8b715.d30498","order":1,"width":0,"height":0,"name":"Power","label":"","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"10000","segWarn":"","segHigh":"","unit":"mW","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":3000,"x":530,"y":520,"wires":[]},{"id":"f2a1e7ba.8bc718","type":"ui_chart","z":"39e3a768.a56978","name":"Power","group":"60a8b715.d30498","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":560,"wires":[[]]},{"id":"b0f8a507.923228","type":"mqtt out","z":"39e3a768.a56978","name":"","topic":"rover/lcd/lines/2","qos":"","retain":"","broker":"a4f28dde.4c47c","x":560,"y":640,"wires":[]},{"id":"b638f52.6f04608","type":"function","z":"39e3a768.a56978","name":"I","func":"var msg = { payload: \"Current: \" + Math.ceil(parseFloat(msg.payload.i)) + \" mA\" };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":640,"wires":[["b0f8a507.923228"]]},{"id":"eadc6a6a.9b30f8","type":"ui_slider","z":"27249d0a.3e2f32","name":"Turn","label":"Turn","tooltip":"","group":"67c14c09.fd3aa4","order":0,"width":"0","height":"0","passthru":true,"outs":"all","topic":"","min":"0","max":"180","step":"10","x":310,"y":180,"wires":[["6e7551c3.e054d"]]},{"id":"6e7551c3.e054d","type":"mqtt out","z":"27249d0a.3e2f32","name":"","topic":"rover/motors/15/angle","qos":"","retain":"","broker":"a4f28dde.4c47c","x":560,"y":180,"wires":[]},{"id":"6554c9c4.960b78","type":"ui_slider","z":"27249d0a.3e2f32","name":"","label":"Tilt","tooltip":"","group":"67c14c09.fd3aa4","order":0,"width":"0","height":"0","passthru":true,"outs":"all","topic":"Tilt","min":"0","max":"180","step":"10","x":310,"y":260,"wires":[["ec89f3cf.64529"]]},{"id":"ec89f3cf.64529","type":"mqtt out","z":"27249d0a.3e2f32","name":"","topic":"rover/motors/14/angle","qos":"","retain":"","broker":"a4f28dde.4c47c","x":560,"y":260,"wires":[]},{"id":"ced0e88e.4c5bb8","type":"inject","z":"27249d0a.3e2f32","name":"Center","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"90","payloadType":"num","x":110,"y":180,"wires":[["eadc6a6a.9b30f8"]]},{"id":"4270f8c1.117438","type":"inject","z":"27249d0a.3e2f32","name":"Center","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"90","payloadType":"num","x":110,"y":260,"wires":[["6554c9c4.960b78"]]},{"id":"83fa19c5.cdec68","type":"ui_template","z":"27249d0a.3e2f32","d":true,"group":"67c14c09.fd3aa4","name":"","order":0,"width":0,"height":0,"format":"<div ng-init=\"init()\">\n    <center>\n\t\t<canvas id=\"canv\" width=\"192\" height=\"192\" style=\"border:0px solid #000000;\" ng-mousemove=\"move($event)\" ng-mousedown=\"down()\" ng-mouseup=\"up()\"> Your browser does not support the HTML5 canvas tag.</canvas>\n\t</center>\n</div>\n\n<script>\n/* ==== */\n(function(scope) {\n\t// center coordinates\n\tscope.x_center = 96;\n\tscope.y_center = 96;\n\n\tscope.radius = 30;\n\n\t//keep track of previous x and y coordinates\n\tscope.x0 = scope.x_center;\n\tscope.y0 = scope.y_center;\n\n\t//keep track of mouse key state\n\tscope.is_down = false;\n\n\tvar x;\n\tvar y;\n\t\n    scope.payload = \"\";\n\tscope.color = \"#474Aff\";\n\tscope.context = $('#canv').get(0).getContext(\"2d\");\n\t\n    scope.init = function() {\n\t\tscope.draw(scope.x0, scope.y0);\n\t}\n    \n\tscope.down = function() {\n\t\tif(scope.getDistance(x, scope.x0, y, scope.y0) < scope.radius) \n\t\t\tscope.is_down = true;\n\t}\n\t\n\tscope.up = function() {\n\t\tscope.is_down = false;\n\t\tscope.x0 = scope.x_center;\n\t\tscope.y0 = scope.y_center;\n\t\tscope.draw(scope.x0, scope.y0);\n\t}\n\t\n\tscope.move = function(event) {\n\t\tx = event.offsetX;\n\t\ty = event.offsetY;\n\t\t\n\t\t//we need to be in \"down\" state in order for a redraw to be necessary\n\t\tif (scope.is_down && scope.getDistance(x, scope.x_center, y, scope.y_center) < (scope.x_center - scope.radius))\n\t\t{  \n\t\t\t//set the previous coordinates to the new coordinates we are drawing.\n\t\t\tscope.x0 = x;\n\t\t\tscope.y0 = y;\n\n\t\t\tscope.draw(x, y);\n\t\t}\n\t}\n\t\n\tscope.draw = function(x, y) {\n\t\tscope.context.beginPath();\n\t\tscope.context.clearRect(0, 0, scope.x_center * 2, scope.y_center * 2);\n\t\t\n\t\tscope.context.arc(scope.x_center, scope.y_center, scope.y_center, 0, 2*Math.PI);\n\t\tscope.context.strokeStyle = scope.color;\n\t\tscope.context.stroke();\n\t\t\n\t\tscope.context.beginPath();\n\t\tscope.context.arc(x, y, scope.radius, 0, 2*Math.PI);\n\t\tscope.context.fillStyle = scope.color;\n\t\tscope.context.fill();\n\t\t\n\t\tscope.send({payload : { x: x, y: y}});\n\t}\n\t\n\tscope.getDistance = function getDistance(x0, x1, y0, y1) {\n\t  return Math.sqrt(Math.pow(x1-x0,2) + Math.pow(y1-y0, 2));   \n\t}\n\t\n    scope.$watch('msg', function(data) {\n        if(data){\n\t\t\tx = data.x;\n\t\t\ty = data.y;\n        }\n    });\n})(scope);\n\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":100,"y":380,"wires":[["25fe8f4b.724b3"]]},{"id":"25fe8f4b.724b3","type":"debug","z":"27249d0a.3e2f32","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":380,"wires":[]},{"id":"d94862fe.c0069","type":"ui_template","z":"27249d0a.3e2f32","d":true,"group":"67c14c09.fd3aa4","name":"","order":0,"width":0,"height":0,"format":"    <div id=\"gamepadDisplay\"></div>\n\t <script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script> \n    <script>\n(function(scope) {\n\tvar haveEvents = 'ongamepadconnected' in window;\n\tvar controllers = {};\n\n\tfunction addgamepad(gamepad) {\n\t  $(\"#gamepadDisplay\").text(\"Gamepad connected\");\n\t  controllers[gamepad.index] = gamepad;\n\t}\n\n\tfunction connecthandler(e) {\n\t  addgamepad(e.gamepad);\n\t}\n\n\tfunction disconnecthandler(e) {\n\t $(\"#gamepadDisplay\").text(\"Gamepad disconnected\");\n\t delete controllers[e.gamepad.index];\n\t}\n\t\n\tfunction scangamepads() {\n\t  var gamepads = navigator.getGamepads ? navigator.getGamepads() : (navigator.webkitGetGamepads ? navigator.webkitGetGamepads() : []);\n\t  \n\t  for (var i = 0; i < gamepads.length; i++) {\n\t\tif (gamepads[i]) {\n\t\t  if (gamepads[i].index in controllers) {\n\t\t\tcontrollers[gamepads[i].index] = gamepads[i];\n\t\t  } else {\n\t\t\taddgamepad(gamepads[i]);\n\t\t  }\n\t\t}\n\t  }\n\t}\t\n\t\n    scope.$watch('msg', function(data) {\n\t  if (!haveEvents) {\n\t\tscangamepads();\n\t  }\n\t  \n\t  var i = 0;\n\t  var j;\n\n\t  for (j in controllers) {\n\t\tvar controller = controllers[j];\n\t\tscope.send({payload : { axes: controller.axes }});\n\t\tfor (i = 0; i < controller.axes.length; i+=2) {\n\t\t\t$(\"#gamepadDisplay\").text(\"Position \" + controller.axes[i].toFixed(4) + \"  \" + controller.axes[i+1].toFixed(4));\n\t\t}\n\t  }\n\t  \n    });\n\n\twindow.addEventListener(\"gamepadconnected\", connecthandler);\n\twindow.addEventListener(\"gamepaddisconnected\", disconnecthandler);\n\n\tif (!haveEvents) {\n\t setInterval(scangamepads, 500);\n\t}\n})(scope);\n    </script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":100,"y":440,"wires":[["25fe8f4b.724b3"]]},{"id":"d16cea5b.e38618","type":"inject","z":"9a75c244.d78e8","name":"Automatic Trigger","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":150,"y":380,"wires":[["f66eaffc.9dd84"]]},{"id":"f66eaffc.9dd84","type":"exec","z":"9a75c244.d78e8","command":"/usr/bin/python3 /home/pi/projects/Rover/audio_service.py","addpay":false,"append":"","useSpawn":"true","timer":"0","oldrc":false,"name":"audio_service.py","x":390,"y":380,"wires":[["80dcf072.ed5bf"],["794cc796.ef7998"],[]]},{"id":"edee3e5b.bd359","type":"wav-headers","z":"6d2ea8e8.660d18","name":"","action":"add","channels":"1","samplerate":"44100","bitwidth":16,"x":390,"y":80,"wires":[["60475bb.c1e00a4"],[]]},{"id":"bdcbd036.30be6","type":"microphone","z":"6d2ea8e8.660d18","name":"microphone","endian":"little","bitwidth":"16","encoding":"signed-integer","channels":"1","device":"hw:2,0","rate":"44100","silence":10,"debug":"true","active":true,"x":150,"y":80,"wires":[["edee3e5b.bd359"]]},{"id":"60475bb.c1e00a4","type":"play audio","z":"6d2ea8e8.660d18","name":"","voice":"0","x":600,"y":80,"wires":[]},{"id":"71de203b.9b6a1","type":"wav-headers","z":"6d2ea8e8.660d18","name":"","action":"add","channels":"1","samplerate":"44100","bitwidth":16,"x":370,"y":220,"wires":[[],[]]},{"id":"a78601a7.0b08a","type":"inject","z":"6d2ea8e8.660d18","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0259.wav","payloadType":"str","x":160,"y":360,"wires":[["9322a717.f212f8"]]},{"id":"9322a717.f212f8","type":"mqtt out","z":"6d2ea8e8.660d18","name":"","topic":"rover/audio/play","qos":"","retain":"","broker":"a4f28dde.4c47c","x":350,"y":360,"wires":[]},{"id":"1964efbe.18a47","type":"mqtt in","z":"39e3a768.a56978","name":"","topic":"rover/power/main","qos":"2","datatype":"json","broker":"a4f28dde.4c47c","x":120,"y":960,"wires":[["e1d026da.b3d498","22cc0ec6.95e0d2"]]},{"id":"e1d026da.b3d498","type":"function","z":"39e3a768.a56978","name":"V / I / P","func":"var msg_i = { payload: msg.payload.i };\nvar msg_v = { payload: msg.payload.v };\nvar msg_p = { payload: msg.payload.p };\n\nreturn [msg_v, msg_i, msg_i, msg_p];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":320,"y":860,"wires":[[],["cf78a66f.c8ae28","c70f78cf.68c238"],["5c6ff899.0e0d28","ca2158a2.b90948"]]},{"id":"cf78a66f.c8ae28","type":"ui_level","z":"39e3a768.a56978","group":"fddea882.3e20c8","order":1,"width":0,"height":0,"name":"Current","label":"Current","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"3000","segWarn":"","segHigh":"","unit":"mA","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":3000,"x":540,"y":840,"wires":[]},{"id":"c70f78cf.68c238","type":"ui_chart","z":"39e3a768.a56978","name":"Current","group":"fddea882.3e20c8","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":540,"y":880,"wires":[[]]},{"id":"5c6ff899.0e0d28","type":"ui_level","z":"39e3a768.a56978","group":"cb830f30.7165a","order":1,"width":0,"height":0,"name":"Power","label":"","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"10000","segWarn":"","segHigh":"","unit":"mW","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"peaktime":3000,"x":530,"y":940,"wires":[]},{"id":"ca2158a2.b90948","type":"ui_chart","z":"39e3a768.a56978","name":"Power","group":"cb830f30.7165a","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":980,"wires":[[]]},{"id":"8a312039.7565","type":"mqtt out","z":"39e3a768.a56978","d":true,"name":"","topic":"rover/lcd/lines/2","qos":"","retain":"","broker":"a4f28dde.4c47c","x":560,"y":1060,"wires":[]},{"id":"22cc0ec6.95e0d2","type":"function","z":"39e3a768.a56978","name":"I","func":"var msg = { payload: \"Current: \" + Math.ceil(parseFloat(msg.payload.i)) + \" mA\" };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":1060,"wires":[["8a312039.7565"]]},{"id":"ecaa38e9.6cca28","type":"ui_gauge","z":"392726c9.848eaa","name":"","group":"9b5dc65b.602c28","order":1,"width":0,"height":0,"gtype":"gage","title":"CPU Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":120,"wires":[]},{"id":"a5093b90.367de8","type":"exec","z":"392726c9.848eaa","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"RPi Temp.","x":370,"y":140,"wires":[["f106f2e3.a828c"],[],[]]},{"id":"25c31ed9.9aaf62","type":"inject","z":"392726c9.848eaa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":110,"y":240,"wires":[["a5093b90.367de8","8f2c93ba.ca59c","22808ea0.064f72"]]},{"id":"f106f2e3.a828c","type":"function","z":"392726c9.848eaa","name":"","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":140,"wires":[["ecaa38e9.6cca28","e238438d.40859"]]},{"id":"e238438d.40859","type":"ui_chart","z":"392726c9.848eaa","name":"CPU Temperature Chart","group":"9b5dc65b.602c28","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":790,"y":160,"wires":[[]]},{"id":"8f2c93ba.ca59c","type":"exec","z":"392726c9.848eaa","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":370,"y":240,"wires":[["52511000.a836f","9055bfde.383a7"],[],[]]},{"id":"22808ea0.064f72","type":"exec","z":"392726c9.848eaa","command":"free | grep Mem | awk '{print 100*($4+$6+$7)/$2}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"Free Memory","x":370,"y":340,"wires":[["90c333c0.94528","66dde16f.1b222"],[],[]]},{"id":"52511000.a836f","type":"ui_gauge","z":"392726c9.848eaa","name":"","group":"5f9ceb46.c05ef4","order":1,"width":0,"height":0,"gtype":"gage","title":"Processor","label":"CPU","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":220,"wires":[]},{"id":"90c333c0.94528","type":"ui_gauge","z":"392726c9.848eaa","name":"","group":"b1ae305e.436fd","order":1,"width":0,"height":0,"gtype":"gage","title":"Memory","label":"RAM","format":"{{value}}","min":0,"max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":340,"wires":[]},{"id":"9055bfde.383a7","type":"ui_chart","z":"392726c9.848eaa","name":"CPU Load Chart","group":"5f9ceb46.c05ef4","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":760,"y":260,"wires":[[]]},{"id":"66dde16f.1b222","type":"ui_chart","z":"392726c9.848eaa","name":"Free Mamory Chart","group":"b1ae305e.436fd","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":770,"y":380,"wires":[[]]},{"id":"cb100ecf.d3d4a","type":"ui_template","z":"27249d0a.3e2f32","group":"67c14c09.fd3aa4","name":"Video Player","order":2,"width":"12","height":"10","format":"<iframe src=\"http://rpi-rover.local:8080\" frameBorder=\"0\" scrolling=\"no\" style=\"position:absolute; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;\"/>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":310,"y":80,"wires":[[]]},{"id":"63cc1b6.367a0e4","type":"inject","z":"9a75c244.d78e8","name":"Automatic Trigger","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":150,"y":600,"wires":[["876d1ab.ca01fe8"]]},{"id":"876d1ab.ca01fe8","type":"exec","z":"9a75c244.d78e8","command":"node /home/pi/projects/player/server-rpi.js","addpay":false,"append":"","useSpawn":"true","timer":"0","oldrc":false,"name":"node server-rpi.js","x":390,"y":600,"wires":[["80dcf072.ed5bf"],["794cc796.ef7998"],[]]},{"id":"59f2da8d.42bf74","type":"inject","z":"27249d0a.3e2f32","name":"Center","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":100,"y":80,"wires":[["cb100ecf.d3d4a"]]},{"id":"528dd96a.3b12c8","type":"ui_template","z":"27249d0a.3e2f32","group":"67c14c09.fd3aa4","name":"Gamepad Capture","order":0,"width":0,"height":0,"format":"<div id=\"gamepadDisplay\"></div>\n<script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script> \n<script>\n(function(scope) {\n\tvar haveEvents = 'ongamepadconnected' in window;\n\tvar controllers = {};\n\n\tfunction setGamepad(gamepad) {\n\t  controllers[gamepad.index] = gamepad.timestamp;\n\t}\n\n\tfunction connecthandler(e) {\n\t  $(\"#gamepadDisplay\").text(\"Gamepad connected\");\n\t  setGamepad(e.gamepad);\n\t}\n\n\tfunction disconnecthandler(e) {\n\t  $(\"#gamepadDisplay\").text(\"Gamepad disconnected\");\n\t  delete controllers[e.gamepad.index];\n\t}\n\t\n\tfunction updateGamepads() {\n\t  var gamepads = navigator.getGamepads ? navigator.getGamepads() : (navigator.webkitGetGamepads ? navigator.webkitGetGamepads() : []);\t\n\t  \n\t  for (var i = 0; i < gamepads.length; i++) {\n\t\tif (gamepads[i]) {\n\t\t  var index = gamepads[i].index;\n\t\t  if (index in controllers && controllers[index] != gamepads[i].timestamp) {\n\t\t\t$(\"#gamepadDisplay\").text(\"Updating a gamepad \" + gamepads[i].timestamp);\n\t\t\tsetGamepad(gamepads[i]);\n\t\t\tupdateStatus(gamepads[i])\n\t\t  }\n\t\t}\n\t  }\n\t}\t\n\t\n\tfunction toMessage(gamepad) {\n\t  var result = {\n\t\tindex: gamepad.index,\n\t\ttimestamp: gamepad.timestamp,\n\t\tbuttons: {},\n\t\taxes: gamepad.axes\n\t  };\n\n\t  for (var i = 0; i < gamepad.buttons.length; i++) {\n\t\tresult.buttons[i] = {\n\t\t  pressed: gamepad.buttons[i].pressed,\n\t\t  value: gamepad.buttons[i].value\n\t\t};\n\t  }\n\n\t  return result;\n\t}\n\n\tfunction updateStatus(gamepad) {\n\t\tvar message = { payload: toMessage(gamepad) };\n\t\tscope.send(message);\n\t}\t\n\t\n\twindow.addEventListener(\"gamepadconnected\", connecthandler);\n\twindow.addEventListener(\"gamepaddisconnected\", disconnecthandler);\n\t\n\tif (!haveEvents) {\n\t  setInterval(updateGamepads, 100);\n\t}\n\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":310,"y":620,"wires":[["ac9ae10f.f4dff"]]},{"id":"553a16e6.5d4e68","type":"debug","z":"27249d0a.3e2f32","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":700,"wires":[]},{"id":"4d2c4c93.802c94","type":"inject","z":"9a75c244.d78e8","name":"Automatic Trigger","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":150,"y":460,"wires":[["9f998b09.0e9fe8"]]},{"id":"9f998b09.0e9fe8","type":"exec","z":"9a75c244.d78e8","command":"/usr/bin/python3 /home/pi/projects/Rover/controls_service.py","addpay":false,"append":"","useSpawn":"true","timer":"0","oldrc":false,"name":"controls_service.py","x":390,"y":460,"wires":[["80dcf072.ed5bf"],["794cc796.ef7998"],[]]},{"id":"7132fb1d.b7d4e4","type":"mqtt out","z":"27249d0a.3e2f32","name":"","topic":"rover/control/camera","qos":"","retain":"","broker":"a4f28dde.4c47c","x":740,"y":600,"wires":[]},{"id":"ac9ae10f.f4dff","type":"function","z":"27249d0a.3e2f32","name":"Controls","func":"var msg_camera = { payload: { x: msg.payload.axes[2].toFixed(4), y: msg.payload.axes[3].toFixed(4) } };\nvar msg_motors = { payload: { x: msg.payload.axes[0].toFixed(4), y: msg.payload.axes[1].toFixed(4) } };\n\nreturn [msg_camera, msg_motors];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":520,"y":600,"wires":[["7132fb1d.b7d4e4"],["5cf9dc08.09c1b4"]]},{"id":"5cf9dc08.09c1b4","type":"mqtt out","z":"27249d0a.3e2f32","name":"","topic":"rover/control/rover","qos":"","retain":"","broker":"a4f28dde.4c47c","x":730,"y":660,"wires":[]},{"id":"12e75667.67deba","type":"inject","z":"9a75c244.d78e8","name":"Stop","props":[{"p":"kill","v":"SIGTERM","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","x":110,"y":320,"wires":[["cbea163a.9fa708"]]},{"id":"3828d903.611f36","type":"inject","z":"9a75c244.d78e8","name":"Stop","props":[{"p":"kill","v":"SIGTERM","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","x":110,"y":640,"wires":[["876d1ab.ca01fe8"]]}]